html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	height: 100%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
@font-face{
	font-family: 'helvetica-regular';
	src: url('../fonts/helvetica-regular.otf');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 'helvetica-bold';
	src: url('../fonts/helvetica-bold.otf');
	font-weight: normal;
	font-style: normal;
}
.header {
	background-color: #000;
	padding: 25px 0 25px 0;
	position: relative;
}
.header::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 3px;
	background-color: #D06A00;
}
.header .logo a {
	font-family: helvetica-bold;
	color: #fff;
	size: 30px;
	text-decoration: none;
}
.header .nav li {
	display: inline-block;
}
.header .nav li a {
	font-family: helvetica-regular;
	color: #fff;
	font-size: 16px;
	margin: 0 16px 0 16px;
}
.main {
	position: relative;
	padding: 190px 0 250px 0;
}
.main .gradient {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 85%;
	width: 100%;
	background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 1) 85%);	
}
.main h1 {
	font-size: 48px;
	color: #fff;
	font-family: helvetica-bold;
	margin-top: 15px;
	margin-bottom: 35px;
}
.meta p {
	border-radius: 100px;
	display: inline-block;
	background-color: rgba(0,0,0,0.38);
	border: 2px solid #D06A00;
	padding: 4px 20px;
	margin-right: 13px;
	color: #FFF;
	font-family: Helvetica;
	font-size: 13px;
	font-weight: 300;
	line-height: 13px;
	cursor: pointer;
}
.main .btn-main {
	height: 38px;
	width: 203px;
	border-radius: 100px;
	background-color: #D06A00;
	color: #FFF;
	font-family: Helvetica;
	font-size: 13px;
	font-weight: 700;
	line-height: 13px;
	border: 0;
	cursor: pointer;
}
.top-news {
	margin-top: -130px;
}
.card-main {
	position: relative;
	margin: 0 8px;
	height: 331px;
}
.card-main .gradient {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 45%;
	width: 100%;
	background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 1) 85%);
	z-index: 9;
}
.card-body {
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 99;
}
.card-body h3 {
	color: #fff;
	font-family: Helvetica;
  	font-size: 28px;
  	font-weight: 700;
}
.card-body .meta p {
	font-size: 9px;
	margin-right: 0px;
	padding: 4px 15px;
}
.news-block {
	margin-top: 15px;
}
.news p {
	text-align: left;
}
.news-block h3 {
	font-size: 21px;
    color: #000;
    font-family: helvetica-bold;
}
.news-item {
	margin: 0 8px;
	width: 30.9%;
}